<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/zapchat?useSSL=false&amp;allowPublicKeyRetrieval=true</property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Pasindu328@Bhathiya</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">false</property>   
        <property name="format_sql">false</property>
         
        <mapping class="entity.User" />  
        <mapping class="entity.User_online_status" />  
        <mapping class="entity.User_verified_status" />  
        <mapping class="entity.Single_chat" />  
        <mapping class="entity.Message_status" />  
        <mapping class="entity.Message_content_type" />  
        <mapping class="entity.Message" />  
        <mapping class="entity.Group_table" />  
        <mapping class="entity.Group_chat" />  
        <mapping class="entity.Group_chat_read" />  
        <mapping class="entity.Group_file" />  
        <mapping class="entity.Group_member" />  
        <mapping class="entity.Group_member_role" />  
        <mapping class="entity.Group_message" />  
        <mapping class="entity.File" />  
        <mapping class="entity.Status" />  
        <mapping class="entity.Status_item" />  
        
    </session-factory>
</hibernate-configuration>
